<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super MAM</title>
    <link href="../css/Contact.css" rel="stylesheet" />
</head>

<body>
    <h1>Se connecter</h1>
    <form id="loginForm" method="POST">
        <p>Saisissez le nom</p>
        <input type="text" name="name_user">
        <br>
        <p>Saisissez le prenom</p>
        <input type="text" name="firstName_child">
        <br>
        <p>Créer un mot de passe</p>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Valider">
    </form>
    <script type="text/javascript" src="../views/js/formLogin.js"></script>
</body>

</html>